{% extends "base.html" %}
{% block content %}

        <section id="pricing" class="pricing-section">
            <div class="container pricing-section">
              <header class="page-header">
                <h1 style="color: #333;">{{ title }}</h1>
              </header>
              <ul class="timeline">

              {% for i in ite %}   
               <li><div class="tldate">{{ i.itineraryDateFrom }} - {{ i.itineraryDateTo }}</div></li>            
                {% if (loop.index-1)%2==0 %}
                <li>
                {% else %}
                <li class="timeline-inverted">
                {% endif %}
 
                  <div class="tl-circ"></div>
                  <div class="timeline-panel">
                    <div class="tl-heading">
                      <h4>{{ i.itineraryName }}</h4>
                      <p><small class="text-muted"><i class="glyphicon glyphicon-time"></i> {{ i.itineraryTimeFrom }} - {{ i.itineraryTimeTo }}</small></p>
                    </div>
                    <div class="tl-body">
                      <p> {{ i.itineraryDesc }}</p>
                    </div>
                  </div>
                </li>
                
                {% endfor %}
              </ul>
            </div>
        </section>

{% endblock %}  