{% extends '/users/base1.html' %}

{% block title %}Friends: Search Results{% endblock %}

{% block content %}

  <div class="container" id="main-section">

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation">
          <a href="#friends" id="friends-tab" role="tab" data-toggle="tab" aria-controls="friends" aria-expanded="false">My Friends</a>
        </li>

        <li role="presentation" class="active">
          <a href="#find-friends" id="find-friends-tab" role="tab" data-toggle="tab" aria-controls="find-friends" aria-expanded="true">Find Friends</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <!-- Friends tab content -->
        <div role="tabpanel" class="tab-pane fade" id="friends" aria-labelledby="friends-tab">
          <h2>My Friends</h2>
          <div class="row">
            {% if friends %}
              {% for friend in friends %}
              <div class="list-group" >
                <a href="/users/{{ friend.id }}" class="list-group-item" style="width:250px;height:150px;">
                <div class="media">
                    <div class="media-left">
                      {% if csPic=='default' %}
                          <img class="avatar border-gray" src="{{current_user.gravatar(size=90)}}" alt="Image for {{ friend.first_name }}"/>
                      {% else %}
                          <img class="avatar border-gray" src="{{ url_for('.static', filename='images/users/'+usID[loop.index-1]+'/'+csPic[loop.index-1]) }}" alt="Image for {{ friend.first_name }}" style="width:90px;height:90px;"/>
                      {% endif %}
                    </div><!-- /.media-left -->
                    <div class="media-body">
                      <h3 class="media-heading">{{ friend.first_name }} {{ friend.last_name }}</h3>
                      <p>
                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Location: {{friend.address}}, {{ friend.city }}
                      </p>
                      <form id="unfriend-friend-form" action="/unfriend/{{friend.id}}" method="POST">
                        <button type="submit" class="btn btn-primary" id="unfriend-btn"><span class="fa fa-users" aria-hidden="true"></span> Unfriend</button>
                      </form>
                    </div><!-- /.media-body -->
                  </div><!-- /.media -->
              </a>
              </div><!-- /.list-group -->
              {% endfor %}
            {% else %}
              <div class="col-xs-12">
                <p>You haven't added any friends. Find friends and connect with them!</p>
              </div>
            {% endif %}
          </div><!-- /.row -->
        </div><!-- /#friends -->

        <!-- Find Friends tab content -->
        <div role="tabpanel" class="tab-pane fade active in" id="find-friends" aria-labelledby="find-friends-tab">
          <h2>Find Friends</h2>
          {% if users %}
            <div class="row">
            <div class="dropdown text-left">
                   <button class="dropdown btn dropdown-toggle" type="button" data-toggle="dropdown">Filter
                       <span class="caret"></span></button>
                   <div class="dropdown-menu">
                       <ul class="active"><a data-toggle="tab" href="#all">View All</a></ul>
                       <ul><a data-toggle="tab" href="#female">Female</a></ul>
                       <ul><a data-toggle="tab" href="#male">Male</a></ul>
                   </div>
               </div>

             <div class ="tab-content">
              <div id="all" class="tab-pane fade in active">
                <div class="content">
                  <h5 class="search-results">({{ users | length }} results)</h5>
                  {% for user in users %}
                    <div class="col-xs-12 col-md-3">
                      <div class="list-group" >
                        <a href="/users/{{ user.id }}" class="list-group-item" style="width:230px;height:120px;">
                          <div class="media">
                            <div class="media-left">
                                {% if csPic=='default' %}
                                    <img class="avatar border-gray" src="{{current_user.gravatar(size=90)}}" alt="Image for {{ user.first_name }}"/>
                                {% else %}
                                    <img class="avatar border-gray" src="{{ url_for('.static', filename='images/users/'+usID[loop.index-1]+'/'+csPic[loop.index-1]) }}" alt="Image for {{ user.first_name }}" style="width:90px;height:90px;"/>
                                {% endif %}
                            </div><!-- /.media-left -->
                            <div class="media-body">
                              <h3 class="media-heading">{{ user.first_name }} {{ user.last_name }}</h3>
                              <p>
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Location: {{user.address}}, {{ user.city }}
                              </p>
                            </div><!-- /.media-body -->
                          </div><!-- /.media -->
                        </a>
                      </div><!-- /.list-group -->
                    </div><!-- /.col -->
                  {% endfor %}
                </div>
               </div>

              <div id="female" class="tab-pane fade">
                <div class="content"><br>
                  {% for user in users if user.gender =="female" %}
                    <div class="col-xs-12 col-md-3">
                      <div class="list-group" >
                        <a href="/users/{{ user.id }}" class="list-group-item" style="width:230px;height:120px;">
                          <div class="media">
                            <div class="media-left">
                                {% if csPic=='default' %}
                                    <img class="avatar border-gray" src="{{current_user.gravatar(size=90)}}" alt="Image for {{ user.first_name }}"/>
                                {% else %}
                                    <img class="avatar border-gray" src="{{ url_for('.static', filename='images/users/'+usID[loop.index-1]+'/'+csPic[loop.index-1]) }}" alt="Image for {{ user.first_name }}" style="width:90px;height:90px;"/>
                                {% endif %}
                            </div><!-- /.media-left -->
                            <div class="media-body">
                              <h3 class="media-heading">{{ user.first_name }} {{ user.last_name }}</h3>
                              <p>
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Location: {{user.address}}, {{ user.city }}
                              </p>
                            </div><!-- /.media-body -->
                          </div><!-- /.media -->
                        </a>
                      </div><!-- /.list-group -->
                    </div><!-- /.col -->
                  {% endfor %}
                </div>
               </div>

              <div id="male" class="tab-pane fade">
                <div class="content"><br>
                   {% for user in users if user.gender =="male" %}
                    <div class="col-xs-12 col-md-3">
                      <div class="list-group" >
                        <a href="/users/{{ user.id }}" class="list-group-item" style="width:230px;height:120px;">
                          <div class="media">
                            <div class="media-left">
                                {% if csPic=='default' %}
                                    <img class="avatar border-gray" src="{{current_user.gravatar(size=90)}}" alt="Image for {{ user.first_name }}"/>
                                {% else %}
                                    <img class="avatar border-gray" src="{{ url_for('.static', filename='images/users/'+usID[loop.index-1]+'/'+csPic[loop.index-1]) }}" alt="Image for {{ user.first_name }}" style="width:90px;height:90px;"/>
                                {% endif %}
                            </div><!-- /.media-left -->
                            <div class="media-body">
                              <h3 class="media-heading">{{ user.first_name }} {{ user.last_name }}</h3>
                              <p>
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Location: {{user.address}}, {{ user.city }}
                              </p>
                            </div><!-- /.media-body -->
                          </div><!-- /.media -->
                        </a>
                      </div><!-- /.list-group -->
                    </div><!-- /.col -->
                  {% endfor %}
                </div>
               </div>
              </div>
                 <div class="col-xs-12">
                  <p>Not who you're looking for? Please try searching again below.</p>
                  <!-- Search engine for users -->
                  <form class="navbar-form navbar-left" role="search" action="/friends/search">
                    <div class="input-group">
                      <input class="form-control" id="searchbox" type="search" name="q" aria-label="Find Friend" placeholder="Find friend by name">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                      </span>
                    </div>
                  </form>
                </div>
            {% else %}
              <h5 class="search-results">No results found.</h5>
              <p>Is your friend a user of TravelPlanner? Get them to sign up now, or please searching again below. </p>
              <!-- Search engine for users -->
              <form class="navbar-form navbar-left" role="search" action="/friends/search">
                <div class="input-group">
                  <input class="form-control" id="searchbox" type="search" name="q" aria-label="Find Friend" placeholder="Find friend by name">
                  <span class="input-group-btn">
                    <button class="btn btn-default" type="submit"><span class="glyphicon glyphicon-search"></span></button>
                  </span>
                </div>
              </form>
            </div>
            {% endif %}

              {% if userr %}
              <div class="row">
                <div class="col-lg-12">
                    <h3>Suggested Friends</h3>
                </div>
                <div class="content" style="width:100%;">
                    <!--<table cellspacing="4" style="width:80%; height:80%; border-collapse: collapse;"><tr style="border-spacing: 0;" id="frList">-->
                      <div class="row">
                        <div class="text-center" id="frList" style="display: inline-block;">
                        {% for user in userr.items %}
                            {% if session.current_user.id != user.id %}

                            <div class="col-xs-3 text-center">
                              <div class="container">
                              <div class="list-group">
                                <a href="/users/{{ user.id }}" class="list-group-item" style="width:230px;height:120px;">
                                  <div class="media">
                                    <div class="media-left">
                                     {% if csPic=='default' %}
                                        <img class="avatar border-gray" src="{{current_user.gravatar(size=90)}}" alt="Image for {{ user.first_name }}"/>
                                     {% else %}
                                        <img class="avatar border-gray" src="{{ url_for('.static', filename='images/users/'+usID[loop.index-1]+'/'+csPic[loop.index-1]) }}" alt="Image for {{ user.first_name }}" style="width:90px;height:90px;"/>
                                     {% endif %}
                                    </div><!-- /.media-left -->
                                    <div class="media-body">
                                      <h3 class="media-heading">{{ user.first_name }} {{ user.last_name }}</h3>
                                      <p>
                                        <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Location: {{user.address}}, {{ user.city }}
                                      </p>
                                    </div><!-- /.media-body -->
                                  </div><!-- /.media -->
                                </a>
                              </div><!-- /.list-group -->
                            </div>
                          </div><!-- /.col -->
                            {% endif %}

                        {% endfor %}
                          </div>
                        </div>
                    <!--</table>-->
                </div>
              <div class="text-center">
                  <ul class="pagination pagination-lg">
                      <li><a href="javascript:void(0)" onclick="getUserFriends(1)">&laquo;</a></li>
                      {% for i in range(0,numm) %}
                      <li><a href="javascript:void(0)" onclick="getUserFriends({{ loop.index }})">{{ loop.index }}</a></li>
                      {% endfor %}
                      <li><a href="javascript:void(0)" onclick="getUserFriends({{ numm }})">&raquo;</a></li>
                  </ul>
                </div>
            </div>
        {% endif %}
        </div><!-- /#find-friends -->
      </div><!-- /.tab-content -->
    </div><!-- /div wrapping the nav tabs and tab panes -->
  </div><!-- /.container -->

{% endblock %}
