{% extends '/users/base1.html' %}

{% block title %}Friends{% endblock %}

{% block javascript %}
  <!--<script type="text/javascript" src="{{ url_for('.static', filename='js/accept-friend.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('.static', filename='js/reject-friend.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('.static', filename='js/accept-request.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('.static', filename='js/reject-request.js') }}"></script>-->
{% endblock %}

{% block content %}

  <div class="container" id="main-section">

    <div>

      <!-- Nav tabs -->
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#edit" id="edit-tab" role="tab" data-toggle="tab" aria-controls="friends" aria-expanded="true">
              Trips Requests
              {% if session.current_user.num_edit_requests == 0 %} {% else %} <span class="badge">{{ session.current_user.num_edit_requests }}</span> {% endif %}
            <span class="caret"></span>
          </a>
        </li>
        <li role="presentation" class="dropdown">
          <a href="#" id="tab-drop" class="dropdown-toggle" data-toggle="dropdown" aria-controls="tab-drop-contents" aria-expanded="false">
            Friend Requests
            {% if session.current_user.num_total_requests == 0 %} {% else %} <span class="badge">{{ session.current_user.num_total_requests }}</span> {% endif %}
            <span class="caret"></span>
          </a>
          <ul class="dropdown-menu" aria-labelledby="tab-drop" id="tab-drop-contents">
            <li>
              <a href="#received-friend-requests" id="received-friend-requests-tab" role="tab" data-toggle="tab" aria-controls="received-friend-requests">
                Received
                {% if session.current_user.num_received_requests == 0 %} {% else %} <span class="badge">{{ session.current_user.num_received_requests }}</span> {% endif %}
              </a>
            </li>
            <li>
              <a href="#sent-friend-requests" id="sent-friend-requests-tab" role="tab" data-toggle="tab" aria-controls="sent-friend-requests">
                Sent
                {% if session.current_user.num_sent_requests == 0 %} {% else %} <span class="badge">{{ session.current_user.num_sent_requests }}</span> {% endif %}
              </a>
            </li>
          </ul>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

      <!-- Friends tab content -->
        <div role="tabpanel" class="tab-pane fade active in" id="edit" aria-labelledby="edit-tab">
          <h2>Trip Requests</h2>
          <div class="row">
            {% if received_edit_requests %}
              <h6>Users who wants to edit your public trips/itineraries.</h6>
              {% for received_edit_request in received_edit_requests %}
              <div class="col-xs-6 col-sm-2" id="user-profile-pic-sm">
                  <a href="/users/{{ received_edit_request.id }}">
                    {% if csPic=='default' %}
                        <img class="avatar border-gray" src="{{current_user.gravatar(size=90)}}" alt="Image for {{ received_edit_request.first_name }}"/>
                    {% else %}
                        <img class="avatar border-gray" src="{{ url_for('.static', filename='images/users/'+usID[loop.index-1]+'/'+csPic[loop.index-1]) }}" alt="Image for {{ received_edit_request.first_name }}" style="width:50px;height:50px;"/>
                    {% endif %}
                    {{ received_edit_request.first_name }} {{ received_edit_request.last_name }}
                  </a>
                  <br><br>
                  <form id="accept-edit-form" action="/accept-request/{{received_edit_request.id}}" method="POST">
                    <button type="submit" class="btn btn-success" id="accept-btn">Accept</button>
                  </form>
                  <form id="reject-edit-form" action="/reject-request/{{received_edit_request.id}}" method="POST">
                    <button type="submit" class="btn btn-danger" id="delete-btn">Reject</button>
                  </form>
                </div><!-- /.col -->
              {% endfor %}
            {% else %}
              <div class="col-xs-12">
                <p>No pending Trip Requests for you.</p>
              </div>
            {% endif %}
          </div><!-- /.row -->
        </div><!-- /#received-friend-requests -->


        <!-- Received Friend Requests tab content -->
        <div role="tabpanel" class="tab-pane fade" id="received-friend-requests" aria-labelledby="received-friend-requests-tab">
          <h2>Received Friend Requests</h2>
          <div class="row" id="user-info" data-userid="{{ received_friend_requests.id }}">
             {% if received_friend_requests %}
              {% for received_friend_request in received_friend_requests %}
                <div class="col-xs-6 col-sm-2" id="user-profile-pic-sm">
                  <a href="/users/{{ received_friend_request.id }}">
                    {% if csPic=='default' %}
                        <img class="avatar border-gray" src="{{current_user.gravatar(size=90)}}" alt="Image for {{ received_friend_requests.first_name }}"/>
                    {% else %}
                        <img class="avatar border-gray" src="{{ url_for('.static', filename='images/users/'+usID[loop.index-1]+'/'+csPic[loop.index-1]) }}" alt="Image for {{ received_friend_requests.first_name }}" style="width:50px;height:50px;"/>
                    {% endif %}
                    {{ received_friend_request.first_name }} {{ received_friend_request.last_name }}
                  </a>
                  <br><br>
                  <form id="accept-friend-form" action="/accept-friend/{{received_friend_request.id}}" method="POST">
                    <button type="submit" class="btn btn-success" id="accepted-btn">Accept</button>
                  </form>
                  <form id="reject-friend-form" action="/reject-friend/{{received_friend_request.id}}" method="POST">
                    <button type="submit" class="btn btn-danger" id="deleted-btn">Reject</button>
                  </form>
                </div><!-- /.col -->
              {% endfor %}
            {% else %}
              <div class="col-xs-12">
                <p>No pending Friend Requests for you.</p>
              </div>
            {% endif %}
          </div><!-- /.row -->
        </div><!-- /#received-friend-requests -->

        <!-- Sent Friend Requests tab content -->
        <div role="tabpanel" class="tab-pane fade" id="sent-friend-requests" aria-labelledby="sent-friend-requests-tab">
          <h2>Sent Friend Requests</h2>
          <div class="row">
            {% if sent_friend_requests %}
              {% for sent_friend_request in sent_friend_requests %}
                <div class="col-xs-6 col-sm-2" id="user-profile-pic-sm">
                  <a href="/users/{{ sent_friend_request.id }}">
                   {% if csPic=='default' %}
                       <img class="avatar border-gray" src="{{current_user.gravatar(size=90)}}" alt="Image for {{ sent_friend_request.first_name }}"/>
                   {% else %}
                       <img class="avatar border-gray" src="{{ url_for('.static', filename='images/users/'+usID[loop.index-1]+'/'+csPic[loop.index-1]) }}" alt="Image for {{ sent_friend_request.first_name }}" style="width:50px;height:50px;"/>
                   {% endif %}
                    <br>{{ sent_friend_request.first_name }} {{ sent_friend_request.last_name }}
                  </a>
                  <form id="reject-friend-form" action="/reject-friend/{{sent_friend_request.id}}" method="POST">
                    <button type="submit" class="btn btn-danger" id="deleted-btn">Cancel</button>
                  </form>
                </div><!-- /.col -->
              {% endfor %}
            {% else %}
              <div class="col-xs-12">
                <p>No pending Friend Requests for you.</p>
              </div>
            {% endif %}
          </div><!-- /.row -->
        </div><!-- /#sent-friend-requests -->

      </div><!-- /.tab-content -->

    </div><!-- /div wrapping the nav tabs and tab panes -->

  </div><!-- /.container -->

{% endblock %}
