{% extends 'users/base1.html' %}

{% block title %}User: {{ user.username }}{% endblock %}

{% block content %}
  <div class="jumbotron top-header" id="user-info" data-userid="{{ user.id }}">
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-md-2" id="imggg">
          {% if csPic=='default' %}
              <img class="img-circle img-responsive" src="{{current_user.gravatar(size=150)}}" alt="..." style="width:150px;height:150px;">
          {% else %}
              <img class="img-circle img-responsive" id="tex" src="{{ url_for('.static', filename='images/users/'+csID+'/'+csPic) }}" alt="..." style="width:150px;height:150px;">
          {% endif %}
        </div>
        <div class="col-xs-12 col-md-6">
            <h1>{{ user.first_name }} {{ user.last_name }}</h1>
          <p>
            <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> {{ user.city }}, {{user.country}}
          </p>
          <table class="user-stats">
            <tr>
              <th class="stats-label">Friends</th>
            </tr>
            <tr>
              <td class="stats-value">{{ total_friends }}</td>
            </tr>
          </table>
        </div><!-- /.col -->
        <div class="col-xs-12 col-md-4" id="action-box" >
          {% if session.current_user.id != user.id %}
            {% if friends %}
              <form id="unfriend-friend-form" action="/unfriend/{{user.id}}" method="POST">
                <button type="submit" class="btn btn-primary" id="unfriend-btn"><span class="fa fa-users" aria-hidden="true"></span> Unfriend</button>
              </form>
            {% elif pending_request %}
              <button class="btn btn-primary disabled" id="requested-btn"><span class="fa fa-clock-o" aria-hidden="true"></span> Request Pending</button>
            {% elif pending_request2 %}
              <form id="accept-friend-form" action="/accept-friend/{{user.id}}" method="POST">
                <button type="submit" class="btn btn-success" id="accepted-btn">Accept</button>
              </form>
              <form id="reject-friend-form" action="/reject-friend/{{user.id}}" method="POST">
                <button type="submit" class="btn btn-danger" id="deleted-btn">Reject</button>
              </form>
            {% else %}
              <form id="add-friend-form" action="/add-friend/{{user.id}}" method="POST">
                <button type="submit" class="btn btn-primary" id="add-friend-btn"><span class="fa fa-user-plus" aria-hidden="true"></span> Add Friend</button>
              </form>
            {% endif %}
          {% endif %}
        </div><!-- /.col -->
      </div><!-- /.row -->
    </div><!-- /.container -->
  </div><!-- /.jumbotron -->

  <div class="container" id="main-section">
    <div class="row">
      <h3>{{user.username}}'s Profile</h3>
      <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#info">General Information</a></li>
        <li><a data-toggle="tab" href="#photos">Photos</a></li>
        {% if session.current_user.id != user.id %}
        <li><a data-toggle="tab" href="#trips">Trips</a></li>
        <li><a data-toggle="tab" href="#friends">Friends</a></li>
        {% endif %}
      </ul>
      <br>
        <div class="col-md-6">
            <div class ="tab-content">
                <div id="info" class="tab-pane fade in active">
                    <h4>General Information</h4>
                <div class="content">
                    <div class="table-full-width">
                        <table class="table">
                            <tbody>
                            <tr>
                               <th>Date of Birth</th>
                               <td>{{user.birth_date}}</td>
                            </tr>
                            <tr>
                               <th>Address</th>
                               <td>{{user.address}}, {{user.city}} City, {{user.country}}</td>
                            </tr>
                            <tr>
                               <th>About Me</th>
                               <td>{{user.description}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <h4>Contact Details</h4>
                    <div class="table-full-width">
                        <table class="table">
                            <tbody>
                            <tr>
                               <th>Email Address</th>
                               <td>{{user.email}}</td>
                            </tr>
                            <tr>
                               <th>Contact Number</th>
                               <td>{{user.contact_num}}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

            <div id="photos" class="tab-pane fade">
                    <h4>Photos</h4>
                <div class="content">
                    <div class="container text-center">
                      {% for p in photos %}
                        <a href="javascript:void(0)" onclick="photo_change('{{ csID }}', '{{ p.photoName }}', '{{ p.id }}');">
                        <img class="img-thumbnail" src="{{ url_for('.static', filename='images/users/'+csID+'/'+p.photoName) }}" alt="..." style="width: 200px; height:200px;"></a>
                      {% endfor %}
                    </div>
                </div>
            </div>

            <div id="friends" class="tab-pane fade">
                <div class="content">
                    <div class="row">
                    {% if friends %}
                      {% for friend in friends %}
                        <div class="col-xs-6 col-sm-8" id="user-profile-pic-sm">
                          <a href="/users/{{ friend.id }}" class="list-group-item">
                          <div class="media">
                            <!-- <div class="media-left">
                                {% if csPic =='default' %}
                                        <img class="avatar border-gray" src="{{user.gravatar(size=90)}}" alt="..."/>
                                    {% else %}
                                        <img class="avatar border-gray" src="{{ url_for('auth_blueprint.static', filename='images/users/'+csID+'/'+csPic) }}" alt="..." style="width:90px;height:90px;"/>
                                    {% endif %}
                            </div><!/.media-left (end here do not erase)-->
                            <div class="media-body">
                              <h3 class="media-heading">{{ friend.first_name }} {{ friend.last_name }}</h3>
                              <p>
                                <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Location: {{friend.address}}, {{ friend.city }}
                              </p>
                            </div><!-- /.media-body -->
                          </div><!-- /.media -->
                        </a>
                        </div><!-- /.col -->
                      {% endfor %}
                    {% else %}
                      <div class="col-xs-12">
                        <p>{{user.first_name}} haven't added any friends.</p>
                      </div>
                    {% endif %}
                    </div>
                </div>
            </div>

            <div id="trips" class="tab-pane fade">
                <div class="content">
                    <div class="row">
                        {% if trips %}

                        {% if user.id==current_user.id %}
                        {% for trip in trips %}
                        <div class="col-sm-3 text-center">
                            <div class="container" style="display:inline; width:100%;">
                                <div class="panel panel-default bootcards-media" style="width:100%;">
                                    <div class="panel-heading" align="center" style="width: 100%;">
                                        {{ trip.tripName }}
                                        <a href="/trips/{{ trip.tripName }}/edit" class="btn btn-primary" style="display: block; margin: 0 auto;">Edit</a>
                                    </div>
                                    <div class="panel-body" style="width: 100%; height: 100%;" align="center">
                                        <img style="height: 100%; width: 100%; object-fit:contain;" src=""/>
                                    </div>
                                    <div class="panel-footer" align="left" style="display: inline-block; width: 100%;">
                                        <div class="row">
                                            &nbsp; From: {{ trip.tripDateFrom }}
                                        </div>
                                        <div class="row">
                                            &nbsp; To: {{ trip.tripDateTo }}
                                            <br>&nbsp; {{ trip.viewsNum }} views
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row" align="left" style="display: inline-block; width: 120%;">
                                                <a href="/trips/{{ trip.tripName }}/additineraries" class="btn btn-primary" style="display: block; margin: 0 auto;">Add Itineraries</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% else %}
                        {% for trip in trips %}
                        <div class="col-sm-3 text-center">
                            <div class="container" style="display:inline; width:100%;">
                                <div class="panel panel-default bootcards-media" style="width:100%;">
                                    <div class="panel-heading" align="center" style="width: 100%;">
                                        {{ trip.tripName }}
                                        <a href="/trips/{{ trip.tripName }}/edit" class="btn btn-primary" style="display: block; margin: 0 auto;" disabled>Edit</a>
                                    </div>
                                    <div class="panel-body" style="width: 100%; height: 100%;" align="center">
                                        <img style="height: 100%; width: 100%; object-fit:contain;" src=""/>
                                    </div>
                                    <div class="panel-footer" align="left" style="display: inline-block; width: 100%;">
                                        <div class="row">
                                            &nbsp; From: {{ trip.tripDateFrom }}
                                        </div>
                                        <div class="row">
                                            &nbsp; To: {{ trip.tripDateTo }}
                                            <br>&nbsp; {{ trip.viewsNum }} views
                                        </div>
                                        <div class="panel-footer">
                                            <div class="row" align="left" style="display: inline-block; width: 120%;">
                                                <a href="/trips/{{ trip.tripName }}/additineraries" class="btn btn-primary" style="display: block; margin: 0 auto; " disabled>Add Itineraries</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% else %}
                        <ul class="list-group">
                            <li class="list-group-item">No trips yet.</li>
                        </ul>
                        {% endif %}
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div><!-- /.container -->
 </div>

  <div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-hidden="true">

</div>
{% endblock %}

{% block javascript %}
  <script type="text/javascript" src="{{ url_for('.static', filename='js/add-friend.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('.static', filename='js/unfriend-friend.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('.static', filename='js/accept-friend.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('.static', filename='js/reject-friend.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('.static', filename='js/sweetalert.min.js') }}"></script>
  <script type="text/javascript">

  function modify_profile(pid){
      $.getJSON('/set_profile', {
              id : pid,
            }, function(data) {

            if(data.response=='ok'){
              alert('Profile Picture changed!');
              $('#imggg').html("");
              $('#imggg').append('<img class="img-circle img-responsive" src="/static//images/users/'+data.userid+'/'+data.filename+'" alt="..." style="width:150px;height:150px;">');
            }
            else
              alert('An error occured!');

        });
        return false;
}
    function photo_change(id, filename, pid){
      $('#exampleModalLong').html("")
      Stringrespify = '<div class="modal-dialog" role="document" style="width: 1000px; height:500px;">'+
        '<div class="modal-content">'+
          '<div class="modal-header">'+
            '<h5 class="modal-title" id="exampleModalLongTitle">'+filename+'</h5>'+
          '</div>'+
          '<div class="modal-body" style="width: 1000px; height: 700px;">'+
            '<img style="height: 100%; width: 100%; object-fit:contain;" src="/static//images/users/'+id+'/'+filename+'"/>'+
          '</div>'+
          '<div class="modal-footer">'+
            '<button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>'+
            '<button type="button" class="btn btn-secondary" onclick="modify_profile('+pid+')">Set as Profile picture</button>'+
          '</div>'+
        '</div>'+
      '</div>';

      $('#exampleModalLong').append(Stringrespify)
      $('#exampleModalLong').modal('show');
    }

  </script>
{% endblock %}

