{% extends 'base1.html' %}
{% import "bootstrap/wtf.html" as wtf %}

{% block content %}

{% block styles %}
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="/resources/demos/style.css">
{% endblock %}

{% block scripts %}
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
    $( function() {
        $( "#datepicker1" ).datepicker();
    });
    $( function() {
        $( "#datepicker2" ).datepicker();
    });
    </script>

    <script charset="utf-8" type="text/javascript">
    $(function(){
        var dropdown = {
            country: $('#trip_country'),
            city: $('#trip_city')
        };
        updateCities();
        function updateCities() {

            dropdown.city.attr('disabled', 'disabled');
            dropdown.city.empty();

            $.getJSON("/trips/get_cities/", {country: dropdown.country.val()}, function(data) {
                data.forEach(function(item){
                   dropdown.city.append(
                       $('<option>', {
                           value: item[0],
                           text: item[1]
                       })
                   );
                });
                dropdown.city.removeAttr('disabled');
            });
        }
        dropdown.country.on('change', function(){
            updateCities();
        });
    });
    </script>

{% endblock %}

        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-8 col-sm-offset-2">
                        <div class="card">
                            <div class="header">
                                <h4 class="title">Add Trip</h4>
                            </div>
                            <form action="" method="POST" name="edit" enctype="multipart/form-data">
                            {{form.hidden_tag()}}
                            <div class="content">
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{wtf.form_field(form.trip_name)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{wtf.form_field(form.trip_country)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{wtf.form_field(form.trip_city)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                                <div class="form-group">
                                                    {{wtf.form_field(form.trip_date_from, id="datepicker1")}}
                                                </div>
                                        </div>
                                        <div class="col-md-4">
                                                <div class="form-group">
                                                    {{wtf.form_field(form.trip_date_to, id="datepicker2")}}
                                                </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-4">
                                            <div class="form-group">
                                                {{wtf.form_field(form.trip_visibility)}}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-6">
                                            <div class="form-group">
                                                {{wtf.form_field(form.file)}}
                                            </div>
                                        </div>
                                    </div>

                                    <button type="submit" class="btn btn-info btn-fill pull-right">Add</button>
                                    <div class="clearfix"></div>
                            </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}